body{
    background: white;
}
input{
    width: 400px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    height: 30px;
    
}
img{
    width: 300px;
    margin-left: auto; 
    margin-right: auto;
    display:block;
    ;
}
.main{
    margin-top:10px;
}
.search_bar{
    margin-top: 50px;
}
.image{
    margin-top: 30px;
}
button{
    display:inline;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 40px;
}